# Online Sign-up

#### Importing library

In [28]:
import pandas as pd 
import numpy as np 
import openpyxl

In [63]:
print("Hello, I heard you are interested into our product.") #Greeting to user
case = int(input("How many people are here to sign-up? (for example 1,2,3....,n):  ")) #total number of people for registration
print()

#List are used to store value
Fname_list=[]; #First Name
Lname_list=[]; #Last Name
Country_list=[]; #Country
Address_list=[]; #First line of Address
Postcode_list=[]; #Postcode
Gender_list=[]; #Sex
Email_list=[]; #Email Address
Contact_list=[] #Contact Number

for i in range(case): #Iterate in range of case, which was total number of people appear for registration
    #for loop interating and assigning value to list
    value=input("Enter your First Name:  ").title(); 
    value1=input("Enter your Last Name:  ").title(); 
    value2=input("Enter your Country :  ").title(); 
    value3=input("Enter your Address:  ").title(); 
    value4=input("Enter your Postcode :  ").title();
    value5=input("Gender:  ").title();
    value6=input("Enter your Email:  ").lower();
    value7=input("Enter your Contact Number:  ");   
    print()
    print(f"Sucessfully, sign-up completed:", i+1)
    print()
    Fname_list.append(value);
    Lname_list.append(value1);
    Country_list.append(value2);
    Address_list.append(value3);
    Postcode_list.append(value4);
    Gender_list.append(value5);
    Email_list.append(value6);
    Contact_list.append(value7);
    #assigning value to key inside the dictonary
dict = {"first_name":Fname_list,
            "last_name":Lname_list,
            "country":Country_list,
            "address":Address_list,
            "postcode":Postcode_list, 
            "gender":Gender_list,
            "email":Email_list ,
            "contact":Contact_list,
           };
df_sample = pd.DataFrame(dict)
df_sample.to_excel(r'C:\Users\Public\Downloads\data.xlsx')

Hello, I heard you are interested into our product.
How many people are here to sign-up? (for example 1,2,3....,n):  5

Enter your First Name:  Harry
Enter your Last Name:  World
Enter your Country :  UnitedKingdom
Enter your Address:  Cecil street
Enter your Postcode :  G12
Gender:  Male
Enter your Email:  hemantthapa1998@gmail.com
Enter your Contact Number:  07752106224

Sucessfully, sign-up completed: 1

Enter your First Name:  Visam
Enter your Last Name:  Rao
Enter your Country :  United kingdom
Enter your Address:  Willow bank
Enter your Postcode :  G13
Gender:  Male
Enter your Email:  xyz@gmail.com
Enter your Contact Number:  0770000000

Sucessfully, sign-up completed: 2

Enter your First Name:  Vikram
Enter your Last Name:  Singh
Enter your Country :  Unitedkingdom
Enter your Address:  Glasgow
Enter your Postcode :  G13
Gender:  Male
Enter your Email:  vikxyz@gmail.com
Enter your Contact Number:  077545000000

Sucessfully, sign-up completed: 3

Enter your First Name:  Adam
Enter your Last Name:  Newlands
Enter your Country :  Unitedkingdom
Enter your Address:  clydebank
Enter your Postcode :  g14
Gender:  Male
Enter your Email:  adamxyz@gmail.com
Enter your Contact Number:  0775200000xxxx

Sucessfully, sign-up completed: 4

Enter your First Name:  Tracey
Enter your Last Name:  gills
Enter your Country :  Unitedkingdom
Enter your Address:  Clydebank
Enter your Postcode :  G14
Gender:  female
Enter your Email:  tRaCy@gmail.com
Enter your Contact Number:  077520000000

Sucessfully, sign-up completed: 5

In [64]:
dict

{'first_name': ['Harry', 'Visam', 'Vikram', 'Adam', 'Tracey'],
 'last_name': ['World', 'Rao', 'Singh', 'Newlands', 'Gills'],
 'country': ['Unitedkingdom',
  'United Kingdom',
  'Unitedkingdom',
  'Unitedkingdom',
  'Unitedkingdom'],
 'address': ['Cecil Street',
  'Willow Bank',
  'Glasgow',
  'Clydebank',
  'Clydebank'],
 'postcode': ['G12', 'G13', 'G13', 'G14', 'G14'],
 'gender': ['Male', 'Male', 'Male', 'Male', 'Female'],
 'email': ['hemantthapa1998@gmail.com',
  'xyz@gmail.com',
  'vikxyz@gmail.com',
  'adamxyz@gmail.com',
  'tracy@gmail.com'],
 'contact': ['07752106224',
  '0770000000',
  '077545000000',
  '0775200000xxxx',
  '077520000000']}

In [65]:
df_sample = pd.DataFrame(dict)
df_sample

,first_name,last_name,country,address,postcode,gender,email,contact
0,Harry,World,Unitedkingdom,Cecil Street,G12,Male,hemantthapa1998@gmail.com,07752106224
1,Visam,Rao,United Kingdom,Willow Bank,G13,Male,xyz@gmail.com,0770000000
2,Vikram,Singh,Unitedkingdom,Glasgow,G13,Male,vikxyz@gmail.com,077545000000
3,Adam,Newlands,Unitedkingdom,Clydebank,G14,Male,adamxyz@gmail.com,0775200000xxxx
4,Tracey,Gills,Unitedkingdom,Clydebank,G14,Female,tracy@gmail.com,077520000000

In [66]:
df_sample.shape

(5, 8)